* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#modal {
    position: absolute;
    display: block;

    align-self: center;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.container {
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#board,
#guess-board {
    height: 500px;
    width: 500px;
    display: grid;
    justify-self: center;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    border: 2px solid black;
}

#ships {
    height: 260px;
    width: 450px;
    gap: 20px;

    display: none;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
}

#guess-board {
    opacity: .7;
}

.cell {
    border: 2px solid black;
    height: 1fr;
    width: 1fr;
}

.occupied,
.one,
.two,
.three,
.four {
    background-color: lightpink;
    border: 3px solid hotpink;
}

.one,
.two,
.three,
.four {
    flex: 0 0 auto;
    display: inline-block;
    height: 50px;
}

.one.horizontal {
    height: 50px;
    width: 50px;
}

.two.horizontal {
    height: 50px;
    width: 100px;
}

.three.horizontal {
    height: 50px;
    width: 150px;
}

.four.horizontal {
    height: 50px;
    width: 200px;
}

.one.vertical {
    height: 50px;
    width: 50px;
}

.two.vertical {
    height: 100px;
    width: 50px;
}

.three.vertical {
    height: 150px;
    width: 50px;
}

.four.vertical {
    height: 200px;
    width: 50px;
}

.hit {
    background-color: lightsalmon;
    border: none;
}

.miss {
    background-color: gray;
}